<!DOCTYPE html>
<html>
<head>
    <title>Yoga Recommendation Chatbot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div id="container">
        <div id="chat-container">
            <div id="header">
                <h1>Yogi - Bot</h1>
            </div>
            <div id="chat-messages">
                <!-- Display predefined greeting message -->
                <div class="bot-message">Welcome! How can I assist you today?</div>
            </div>
            <div id="input-container">
                <input type="text" id="user-input" placeholder="Type your message...">
                <button id="send-btn"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    <script src="static/script.js" defer></script>
</body>
</html>